@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  
  .linkup {
    size: 50px;
    position: absolute;
    padding-top: 55px;
    width: 100%;
  }

  .custom-design{
    background-color: rgb(24, 126, 185);
    color: white;
    border-radius: 5px;
    margin-left: 4px;
    padding: 0 5px;
  }
  .right-panel {
    background-image: linear-gradient(to left, rgba(248, 248, 248, 0.8), rgba(199, 199, 199, 0));
    display: grid;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
    height: 100vh;
 }

 .login-section {
  margin-top: 180px;
  width: 400px;
 }
  
  .login-section-container {
    width: 100%;
    max-width: 400px;
  }
  .error-message-container{
    position: absolute;
    display: flex;
    ;  }
  #error-message {
    color: red;
    flex: 2;
    width: 70%;
    margin-left: 10px;


}
  .login-section h1 {
    font-size: 3em;
    color: #0a66c2;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
  }
  
  .input {
    margin-bottom: 15px;
  }
  
  .input input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f7f8;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
  }
  
  .login-btn, .signup-btn {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
  }
  
  .login-btn {
    background-color: #0a66c2;
    color: white;
    margin-right: 10px;
  }
  
  .signup-btn {
    background-color: white;
    color: #0a66c2;
    border-color: #0a66c2;
    margin-left: 10px;

  }
  
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 50px;
  }
  
  footer p {
    color: #666;
  font-size: 0.75em;
  }
  