.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------- todo form --------- */

.todoWrapper {
    margin-bottom: 300px;
    display: grid;
    place-items: center;

    h1 {
        color: #fff;
    }
}

.todo-input{
    height: 35px;
    width: 250px;
    font-size: 18px;
    padding-left: 5px;
    border: 2px solid rgb(92, 45, 200);
}

.todo-btn {
    height: 35px;
    width: 90px;
    background-color: rgb(92, 45, 200);
    color: #fff;
    font-size: 18px;
}

/* ----------todo list ----------- */

.todo {
    display: flex;
    color: #fff;
    width: 200px;
    padding: 7px;
    background-color: rgba(249, 248, 250, 0.167);
    border-left: 3px solid #2dc85c;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    p {
        font-weight: 600;
    }
}

.todoSection {
    display: grid;
}

.icons {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.edit {
    color: #2dc85c;
}

.delete {
    color: #c85c2d;
}